@font-face {
    font-family: "Get Schwifty";
    src: url("../fonts/shlop\ rg.ttf");
}

header {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url("../img/header.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-size: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

header .contenido {
    background: #00000077;
    padding: 10px 20px;
    max-width: 650px;
}

@media (max-width: 800px) and (orientation:portrait) {
     header {
        background-image: url("../img/header-movil.jpg");
        color: #fff;
     }
}

header .contenido h1 {
    font-size: 70px;
    color: #4b9ca5;
    font-family: "Get Schwifty";
    z-index: 2;
}


header .contenido p {
    font-family: "Get Schwifty";
    font-size: 25px;
    color: #fff;
}

header .contenido img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 55vh;
    z-index: -1;
}

header .contenido .icono {
    font-size: 40px;
    background: #000;
    color: yellow;
    padding: 10px;
    border-radius: 50%;
    z-index: 100;
}

header .contenido .icono:hover {
    cursor: pointer;
}

.oculto {
    display: none;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: #4b9ca5;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background: #3b8088;
}

::-webkit-scrollbar-thumb:active {
    background: #52b85f;
}

::-webkit-scrollbar-track {
    background: rgb(34, 34, 34);
}