body {
    background: rgb(34, 34, 34);
    width: 100%;
}

main .pag-principal {
    width: 100%;
    margin-bottom: 30px;
}

main .pag-principal h1 {
    font-family: "Get Schwifty";
    color: #4b9ca5;
    text-align: center;
}

main .pag-principal p {
    color: #fff;
}

main .row {
    width: 100%;
}

main .item {
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}

main .item .contenido-item {
    width: 95%;
    height: 100%;
    background: #000;
    padding: 20px;
}

main .item .contenido-item img {
    width: 100%;
    height: auto;
}

.paginacion {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.paginacion .item-pagina {
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    background: #4b9ca5;
    margin: 1px;
    font-family: "Get Schwifty";
}

.paginacion .active {
    background: #52b85f;
}

.paginacion .item-pagina:hover {
    cursor: pointer;
}